<div class="footer__container">
	<div class="logo-footer__container"></div>
	<div class="links-footer__container">
		<span>
			<ul>
				<li><a href="#">Suporte</a></li>
				<li><a href="#">Politica de privacidade</a></li>
				<li><a href="#">Termos de uso do site</a></li>
				<li><a href="#">Mapa do site</a></li>
				<li><a href="#">PlayStation Studios</a></li>
				<li><a href="#">Legal</a></li>
			</ul>
		</span>
		<span>
			<ul>
				<li><a href="#">Termos de serviço de PSN</a></li>
				<li><a href="#">Política de cancelamentos da PS Store</a></li>
				<li><a href="#">Avisos da saúde</a></li>
				<li><a href="#">Sobre as classificações</a></li>
			</ul></span
		>
		<span>
			<ul>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Twitter</a></li>
				<li><a href="#">Yotube</a></li>
				<li><a href="#">Instagram</a></li>
				<li><a href="#">Aplicativo para Android</a></li>
			</ul>
		</span>
	</div>
</div>
